name: K8s Image Bundle
on: workflow_dispatch # Tarayıcıdan bir butonla başlatmanı sağlar

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Pull K8s Images
        run: |
          # İmaj listesi (v1.35.0 için)
          IMAGES=(
            "registry.k8s.io/kube-apiserver:v1.35.0"
            "registry.k8s.io/kube-controller-manager:v1.35.0"
            "registry.k8s.io/kube-scheduler:v1.35.0"
            "registry.k8s.io/kube-proxy:v1.35.0"
            "registry.k8s.io/etcd:3.5.15-0"
            "registry.k8s.io/pause:3.10"
            "registry.k8s.io/coredns/coredns:v1.11.3"
          )
          
          for img in "${IMAGES[@]}"; do
            docker pull $img
          done
          
          # Hepsini tek bir tar dosyasına koy
          docker save ${IMAGES[@]} -o k8s-v1.35-bundle.tar

      - name: Upload to Browser
        uses: actions/upload-artifact@v4
        with:
          name: k8s-bundle-file
          path: k8s-v1.35-bundle.tar
